.git
.gitignore
.agents
.ai
.amp
.claude
.codex
.cursor
.gemini
.github
.junie
.mcp.json
.amp
vendor
node_modules
bun.lockb
public/build
public/hot
storage/logs/*.log
.env
.env.backup
.env.production
tmp
